:root {
    /* lightest to darkest shade of cool grey */
    --grey0: #e4e7eb;
    --grey1: #cbd2d9;
    --grey2: #9aa5b1;
    --grey3: #7b8794;
    --grey4: #616e7c;
    --grey5: #52606d;
    --grey6: #3e4c59;
    --grey7: #323f4b;
    --grey8: #1f2033; 

    --soft-white: #fcfcfc;
    --soft-black: #2f2f2f;
    --white: #fff;
}

* {
    scroll-behavior: smooth;
    box-sizing: border-box;
    padding: 0 0;
    margin: 0 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--soft-white);
}

ol, ul {
    list-style: none;
}

#nav {
    overflow: hidden;
    background-color: var(--white);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 10px rgba(0,0,0,0.24);
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100vw;
}

#nav li {
    text-decoration: none;
    transition: all ease-in-out 200ms;
    width: auto;
}

#nav a {
    display: block;
    float: left;
    color: var(--soft-black);
    text-align: center;
    margin: 10px 15px;
    text-decoration: none;
}

#nav .navlink::after {
    content: '';
    position: absolute;
    display: block;
    height: 0.4em;
    width: 0%;
    background-color: var(--grey6);
    bottom: -0.1em;
    transition: all ease-in-out 200ms;
}

#nav .navlink:hover::after {
    width: 4.5em;
}

#main {

}

#intro {
    position: relative;
    text-align: center;
    height: 100vh;
    padding-top: 20vh;
}

#about {
    color: var(--soft-black);
    background-color: var(--white);
    display: inline-block;
    padding: 5em;
}

#portfolio {
    color: var(--soft-white);
    background-color: var(--grey4);
    padding: 5em;
}

#projects {
    padding: 5em;
}

#contact {
    color: var(--soft-white);
    background-color: var(--grey6);
    padding: 5em;
    display: relative;
    text-align: center;
}

#intro img {
    width: 200px;
}

#intro h1, #intro h4 , #intro .links{ 
    padding: 1.5em 0 0 0;
}

#portfolio h2, #about h2, #projects h2, #contact h2 {
    padding: 0 0 2em 0;
}

#contact p {
    display: inline-block;
    vertical-align: middle;
    padding: 0 5em;
}

.wrapper {
    width: 70%;
    margin: auto;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    background-color: var(--soft-white);
    border: 2px solid var(--grey7);
    border-radius: 30px;
    color: var(--soft-black);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 10em;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.3s;
}

a.button:hover {
    background-color: var(--grey7);
    color: var(--soft-white);
}

.arrow {
    position: relative;
    border: solid var(--soft-black);
    border-width: 0 6px 6px 0;
    display: inline-block;
    padding: 15px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.arrow.animated {
    -moz-animation: bounce 1s;
    -webkit-animation: bounce 1s;
    animation: bounce 1s;
}

.see-more {
    text-align: center;
    padding: 50px;
}

.profile-details-col {
    float: left;
}

.profile-details-col.card {
    width: 30%;
}

.profile-details-col.description {
    width: 70%;
}

.profile-details::after {
    content: "";
    clear: both;
    display: table;
}

.profile-details p {
    font-size: 18px;
}

.id-card {
    width: 230px;
    height: 280px;
    font-size: 12px;

    background: url("../img/id-card.jpg") no-repeat;
    background-color: var(--white);
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 5px;
    /* transition: all 0.3s; */

    transform-origin: center top;
}

.id-card.animated {
    -moz-animation: dangle 3s;
    -webkit-animation: dangle 3s;
    animation: dangle 3s;
}

.profile-details ul li {
    padding: 0 1em 0 1em;
}

.profile-details hr {
    transform: rotate(90deg);
    border: 1px solid var(--soft-black);
    width: 300px;
}

.col {
    float: left;
    width: 50%;
    padding: 10px 10px;
}

.row {
    display: table;
}

.row:after {
    content: "";
    display: table;
    clear: both;
  }
  
.project-card {
    position: relative;
    background-color: var(--white);
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 5px;
    height: 450px;
    transition: all 0.3s;
    flex: 0 1 49%;
}

.tags {
    position: absolute;
    bottom: 15px;
    left: 15px;
}

.tags li {
    display: inline-block;
    background-color: var(--grey1);
    border-radius: 15px;
    font-size: 12px;
    padding: 0.5em;
    margin: 3px 5px;
}

.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-image: linear-gradient(0deg, #304352 0%, rgb(0, 0, 0, 0) 100%);
}

.card-overlay ul {
    position: absolute;
    top: 30%;
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 0;
}

.card-overlay .links img {
    object-fit: cover;
    width: 25%;
    max-width: 120px;
}

.project-card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.project-card:hover p, .project-card:hover .tags, .project-card:hover h3 {
    webkit-filter: blur(4px); /* Chrome, Safari, Opera */
    filter: blur(4px);
}

.project-card:hover:hover .card-overlay {
    opacity: 1;
}

.project-header {
    margin: 2em 3%;
}

.project-description {
    margin: 2em 3%;
}

.contact-icon img {
    width: 2em;
    margin-right: 1em;
    vertical-align: middle;
}

@-webkit-keyframes dangle {
    10% { -webkit-transform: rotate(20deg); }
    30% { -webkit-transform: rotate(-18deg); }
    50% { -webkit-transform: rotate(12deg); }
    70% { -webkit-transform: rotate(-10deg); }
    90% { -webkit-transform: rotate(4deg); }
}

@-webkit-keyframes bounce {
    0% {
        top: 0;
        animation-timing-function: ease-out;
      }
    17% {
        top: 15px;
        animation-timing-function: ease-in;
    }
    34% {
        top: 0;
        animation-timing-function: ease-out;
    }
    51% {
        top: 8px;
        animation-timing-function: ease-in;
    }
    68% {
        top: 0px;
        }
    85% {
        top: 3px;
        animation-timing-function: ease-in;
    }
    100% {
        top: 0;
    }
}

@media screen and (max-width: 1250px) {

    /* One column layout on mobile */
    .col {
      width: 100%;
      display: block;
    }
    .profile-details-col.card {
        width: 100%;
    }
    .id-card {
        display: block;
        margin: auto;
    }
    .profile-details-col.description {
        width: 100%;
    }

}